<div class="navbar navbar-right nav-bar-menu">
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/blogCreate">
        <span class="glyphicon glyphicon-plus"></span>
        New Blog
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
        Main
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/dashboard">
        <span class="glyphicon glyphicon-dashboard"></span>
        Dashboard
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/login">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/register">
        <span class="glyphicon glyphicon-registration-mark"></span>
        Register
    </a>
</div>

<div class="container">
    <div>
        <article class="jumbotron">
            <h1>
                {{blog.title}}
            </h1>
            <small class="glyphicon glyphicon-eye-open">{{blog.viewCount}}</small>
            <small class="glyphicon glyphicon-envelope">{{blog.commentCount}}</small>
            <small class="glyphicon glyphicon-user">{{blog.user.name}}</small>
            <hr/>
            <div btf-markdown="blog.content"></div>
            <hr/>
        </article>
    </div>

    <div ng-show="hasLogin()" ng-init="zy_comment = null">
        <textarea editor class="form-control" rows="5" required ng-model="zy_comment"></textarea>
        <button class="form-control"  ng-click="postComment(zy_comment)" ng-disabled="!zy_comment || zy_comment.length === 0">Comment</button>
    </div>

    <hr/>

    <div>
        <article class="jumbotron" ng-repeat="comment in comments">
            <h2><span class="small glyphicon glyphicon-user">{{blog.user.name}}</span></h2>
            <h4>{{comment.content}}</h4>
        </article>
        <pagination class="pagination-sm"
                    ng-show="numPages > 1"
                    ng-model="currentPage"
                    max-size="10"
                    items-per-page="pageSize"
                    total-items="totalElements"
                    boundary-links="true"
                    num-pages="numPages"
                    ng-change="loadPage()">
        </pagination>
    </div>
</div>