<div class="navbar navbar-right nav-bar-menu">
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-backward"></span>
        Back
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
        Main
    </a>
    <a class="nav-badge btn" ng-click="logout()" ng-show="hasLogin">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </a>
    <a ng-if="!hasLogin" class="nav-badge btn" ng-href="#/login">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
    </a>
    <a ng-if="!hasLogin" class="nav-badge btn" ng-href="#/register">
        <span class="glyphicon glyphicon-registration-mark"></span>
        Register
    </a>
</div>

<div class="container">
    <div>
        <article class="jumbotron">
            <h1>
                {{blog.title}}
            </h1>
            <hr/>
            <div btf-markdown="blog.content"></div>
            <hr/>
        </article>
    </div>
</div>