<div class="navbar navbar-right nav-bar-menu">
    <a class="nav-badge btn" ng-click="update()">
        <span class="glyphicon glyphicon-edit"></span>
        Modify
    </a>
    <a class="nav-badge btn" ng-href="#/blogView/{{blog.id}}">
        <span class="glyphicon glyphicon-remove"></span>
        Discard
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
        Main
    </a>
    <a class="nav-badge btn" ng-click="logout()" ng-show="hasLogin">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </a>
</div>

<div class="container">
    <form role="form">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Title" required ng-model="blog.title"/>
        </div>
        <div class="form-group">
            <textarea editor class="form-control" rows="20" required ng-model="blog.content"></textarea>
        </div>
    </form>
</div>