<div class="navbar navbar-right nav-bar-menu">
    <a ng-if="hasLogin" class="nav-badge btn" ng-href="#/blogCreate">
        <span class="glyphicon glyphicon-plus"></span>
        New Blog
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
        Main
    </a>
    <a ng-if="hasLogin" class="nav-badge btn" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </a>
</div>

<h1>Personal Blogs</h1>

<section class="container">
    <div>
        <article class="jumbotron blog-listing" ng-repeat="blog in blogs">
            <h1 class="article-title">
                <a ng-href="#/blogView/{{blog.id}}">{{blog.title}}</a>
                <small>
                    <span ng-click="remove($index, blog)" class="btn btn-small glyphicon glyphicon-remove"></span>
                    <a ng-href="#/blogEdit/{{blog.id}}" class="btn btn-small glyphicon glyphicon-edit"></a>
                </small>
            </h1>
        </article>
    </div>

    <pagination class="pagination-sm"
                ng-show="numPages > 1"
                ng-model="currentPage"
                max-size="10"
                items-per-page="pageSize"
                total-items="totalElements"
                boundary-links="true"
                num-pages="numPages"
                ng-change="loadPage()">
    </pagination>
</section>