<div class="navbar navbar-right nav-bar-menu">
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-backward"></span>
        Main
    </a>
    <a ng-if="!hasLogin" class="nav-badge btn" ng-href="#/register">
        <span class="glyphicon glyphicon-registration-mark"></span>
        Register
    </a>
</div>

<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" ng-model="token.email" class="form-control" placeholder="Email address" required autofocus/>
        <input type="password" ng-model="token.password" class="form-control" placeholder="Password" required/>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
    </form>
</div>