<div class="navbar navbar-right nav-bar-menu">
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/blogCreate">
        <span class="glyphicon glyphicon-plus"></span>
        New Blog
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
        Main
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/dashboard">
        <span class="glyphicon glyphicon-dashboard"></span>
        Dashboard
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/login">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/register">
        <span class="glyphicon glyphicon-registration-mark"></span>
        Register
    </a>
</div>
<section class="container">
    <div class="col-md-9">
        <article class="row jumbotron blog-listing" ng-repeat="blog in blogs">
            <div class="col-md-3">
                <img src="http://www.gravatar.com/avatar/{{blog.user.email | gravatar}}" />
            </div>
            <div class="col-md-9">
                <h1 class="article-title">
                    <a ng-href="#/blogView/{{blog.id}}">{{blog.title}}</a>
                </h1>
                <small class="glyphicon glyphicon-eye-open">{{blog.viewCount}}</small>
                <small class="glyphicon glyphicon-envelope">{{blog.commentCount}}</small>
                <small class="glyphicon glyphicon-user">{{blog.user.name}}</small>
                <small class="glyphicon glyphicon-time">{{blog.createTime | timeago }}</small>
            </div>
        </article>
    </div>
    <aside class="col-md-3">
        <div ng-show="hasLogin()" class="jumbotron">
            <a href="#/dashboard">
                <img src="http://www.gravatar.com/avatar/{{user().email | gravatar}}" />
            </a>
            <p>{{user().name}}</p>
            <span class="row">上次登陆:{{user().lastAccess | timeago }}</span>
            <span class="row">文章数:{{user().blogCount}}</span>
            <span class="row">评论数:{{user().commentCount}}</span>
        </div>

        <div class="blog-listing">
            最新文章
            <ul>
                <li class="zy-new" ng-repeat="blog in newBlogs">
                    <h1 class="article-title">
                        <a ng-href="#/blogView/{{blog.id}}">{{blog.title}}</a>
                    </h1>
                </li>
            </ul>
        </div>

        <div class="blog-listing">
            最热文章
            <ul>
                <li class="zy-hot" ng-repeat="blog in hotBlogs">
                    <h1 class="article-title">
                        <a ng-href="#/blogView/{{blog.id}}">{{blog.title}}</a>
                    </h1>
                </li>
            </ul>
        </div>
    </aside>

    <pagination class="pagination-sm"
                ng-show="numPages > 1"
                ng-model="currentPage"
                max-size="10"
                items-per-page="pageSize"
                total-items="totalElements"
                boundary-links="true"
                num-pages="numPages"
                ng-change="loadPage()">
    </pagination>
</section>