body {
    background-image: url(./bk-light.jpg);
    height: 100%;
    font-family:"微软雅黑";
}
/*design by title*/
footer {
	color: #FFF;
	padding-top: 40px;
	font-weight:bold;
}
/*联系我们 title*/
footer a {
	color: #FFF;
}
/*导航 title*/
.nav-badge {
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	color: #9CF;
}

.nav-badge:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
}

.nav-bar-menu {
    position: absolute;
    right: 3%;
    top: 5%;
}
/*幸而有诗 不复忘*/
.blog-title {
	font-size: 60px;
	font-weight: bold;
	margin-top: 8%;
}

.blog-title a {
	color: #FFF;
	text-decoration: none;
}
/* 个人帖子title*/
.subtitle {
	color: #FFF;
	margin-top: 60px;
	margin-bottom: 40px
}

.article-title a {
    text-decoration: none;
}

/* Animation support for items */
.blog-listing1{
	background-color: #ffffff;
	border: 1px solid #ff9f70;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	padding: 18px 10px;
	margin-bottom: 30px;
}
.blog-listing.ng-enter {
    -webkit-animation: 1s fade-in;
}

.blog-listing.ng-leave {
    -webkit-animation: 1s fade-out;
}

/* cross fading between routes with ngView */
section.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
  -webkit-transition: 0.5s linear all;
}

section.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

aside div.blog-listing {
    margin-bottom: 30px;
    color:#ffffff;
    background-color: #eee;
    border-radius: 10px;
    padding: 18px 10px;
}
/*最新最热文章*/
aside li .article-title {
    font-size: 1.2em;
}
/*注册登录*/
.form-group{
	width:40%;
    margin-left: 30%;
	}
comment_right{
	 font-size:0.5em;
}
