body{margin:0;padding:0;font-family:"微软雅黑"; background:#fff;font-size: 14px;}
*{margin:0;padding:0;}
ul{list-style:none;}
a{color:#333;text-decoration:none;}
img{border:0;}
a:hover{}
.clear{clear:both;}

/* 清楚元素浮动 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*dingbu*/
.top_c ul li{float: left;width: 170px;}
.top_c ul li .left_arrw{float: left;width: 32px;text-align: center;height: 38px;}
.top_c ul li .left_arrw span{height: 100%;display: inline-block;vertical-align: middle;}
.top_c ul li .left_arrw img{width: 19px;height: 28px;vertical-align: middle;}
.top_c ul li .right_zb{float: left;width: 135px;}
.top_c ul li .right_zb span{width: 160px;display: block;text-align:left;}
.top_c ul li .right_zb .namecity{color: #979B9A;}
.top_c ul li .right_zb .number_pre{color: #FFFFFF;cursor: pointer;}
.top_c ul li .right_zb .number_pre:hover{color: #979B9A;}
/*logo出现*/
#top{width:100%;min-width:1200px;height:40px;background:#000000;}
#top .top_c{width:1200px;margin:0 auto;text-align:center;position:relative;}

.sout{position:absolute;right:0;top:8px;width:60px;height:22px;border:1px solid #CCC;color:#FFF;font-size:12px;text-align:center;line-height:22px;}


#gug{width:100%;min-width:1200px;height:30px;background:#c8c9ca;}
#gug .gug_c{width:1200px;margin:0 auto;text-align:center;}
#gug .gug_c a{font-size:12px;color:#fff;line-height:30px;margin-left:20px;}
#header{width:1200px;margin:10px auto;height:130px;}
.floatlf{float: left;}
.floatlr{float: right;}
#header .hr_l{float:left;}
#header .hr_l .loandad{width:920px;height:75px;}
#header .hr_l .loandad .logo{float:left; width: 180px;height: 80px;}
#header .hr_l .loandad .lo_ad{float:left;text-align:center;width: 740px;height: 80px;}
#header .hr_l .loandad .lo_ad span{float:left;display: inline-block;width: 365px;}
#header .hr_l .loandad .lo_ad span img{}
#header .hr_l .menu{margin-top:10px;width:920px;background:#3e3a39;height:38px;border-bottom:1px solid #9b9999;}
#header .hr_l .menu ul li{float:left;padding:6px 0px 10px;line-height:18px;text-align:center;border-top:4px solid #3e3a39;position:relative;z-index:500;}

#header .hr_l .menu ul li a{color:#FFF;font-family:"微软雅黑";font-size:14px;display:inline-block;border-left:1px solid #999;padding:0 18px;}
#header .hr_l .menu ul li.fst a{border:none;}
#header .hr_l .menu ul li:hover{border-top:4px solid #F30;}
#header .hr_l .menu ul li.active{border-top:4px solid #F30;}

#header .hr_l .menu ul li .mu2{position:absolute;z-index:500;width:600px;top:35px;left:0;background:#595757;padding:5px 0;color:#CCC;font-size:12px;text-align:left;display:none;}
#header .hr_l .menu ul li .mu2 a{display:inline-block;border:0;font-size:12px;padding:0 8px;}

#header .hr_r{float:left;}
#header .hr_r .formt{height:48px;line-height:48px;font-size:12px;color:#999;}
#header .hr_r .formt a{margin-right:8px;margin-left:8px;font-size:12px;}
#header .hr_r .formt .seartx{border:1px solid #CCC;width:160px;height:21px;line-height:21px; vertical-align:middle;}
#header .hr_r .formt .sertb{height:23px;line-height:23px;width:24px;background:url(../../images/new_12.gif) no-repeat;border:1px solid #CCC;border-left:0;vertical-align:middle;}

#header .hr_r .iconav{background:#3e3a39;height:75px;width:280px;border-bottom:1px solid #9b9999;}
#header .hr_r .iconav ul li{float:left;text-align:center;margin-left:21px;}
#header .hr_r .iconav ul li img{display:block;margin:9px 0 5px;}
#header .hr_r .iconav ul li a{font-size:14px;color:#FFF;font-family:"微软雅黑";}

.mfix{position:fixed;top:-95px;left:0;right:0;margin:auto;z-index:100;}


#slide{width:1200px;margin:10px auto;height:344px;}
#slide .slideimg{float:left;width:900px;height:344px;position:relative;overflow:hidden;}
#slide .slideimg .prev{position:absolute;width:115px;height:344px;left:0;top:0;z-index:10;background:url(../../images/gd_al.png) repeat;}
#slide .slideimg .prev .pr{display:block;width:115px;height:344px;background:url(../../images/new_38.gif) no-repeat center;cursor:pointer;}
#slide .slideimg .next{position:absolute;width:115px;height:344px;right:0;top:0;background:url(../../images/gd_al.png) repeat;z-index:10;}
#slide .slideimg .next .pr{display:block;width:115px;height:344px;background:url(../../images/new_41.gif) no-repeat center;cursor:pointer;}


#slide .slideimg .slul{position:absolute;width:99999px;margin-left:117px;z-index:9;}
.deboe1{float:left;}
.deboe2{float:left;}
#slide .slideimg .slul .sluli{float:left;width:666px;position:relative;margin-right:2px;}
#slide .slideimg .slul .sluli .sl_x{position:absolute;bottom:0;left:0;padding:10px;background:url(../../images/gd_al.png) repeat;padding-bottom:20px;}
#slide .slideimg .slul .sluli .sl_x h2{font-size:18px;font-family:"微软雅黑";color:#CCC;}
#slide .slideimg .slul .sluli .sl_x h2 span.wname{font-size:12px;margin-left:20px;}
#slide .slideimg .slul .sluli .sl_x h2 span.wtime{font-size:12px;margin-left:20px;}
#slide .slideimg .slul .sluli .sl_x p{font-family:"微软雅黑";font-size:12px;margin-top:7px;color:#CCC;line-height:20px;}

#slide .slideimg .slibtn{width:100%;text-align:center;position:absolute;bottom:5px;left:0;z-index:10;}
#slide .slideimg .slibtn span{width:5px;height:5px;background:#FFF;border:1px solid #FFF;display:inline-block;border-radius:5px;margin-left:10px;cursor:pointer;}
#slide .slideimg .slibtn span.active{background:none;}

#slide .adnav{float:right;width:274px;}
#slide .adnav .ad_1{margin-bottom:20px;}


#context{width:1200px;margin:25px auto;}
#context .c_lt{float:left;width:124px;height:1px;}
#context .c_lt .clt_f{width:124px;transition:2s all;background:#FFF;}
#context .c_lt .clt_f h1{position:relative;}
#context .c_lt .clt_f h1 .colsen{position:absolute;display:block;right:0;top:0;color:#c00;padding:0 4px;border:1px solid #C00;font-size:12px;border-radius:10px;font-weight:normal;cursor:pointer;}
.clfix{position:fixed;top:50px;transition:2s all;}
.openn{color:#c00;width:15px;text-align:center;height:15px;font-size:14px;line-height:15px;padding:0 2px;border:1px solid #C00;font-size:12px;border-radius:3px;font-weight:normal;cursor:pointer;display:none;}

#context .c_lt .clt_f h1{text-align:center;font-size:18px;font-family:"微软雅黑";}
#context .c_lt .clt_f a{display:block;text-align:center;border-bottom:1px dashed #CCC;padding:10px 0;font-size:14px;font-family:"微软雅黑";transition:1s all;}
#context .c_lt .clt_f a img{ vertical-align:middle;margin-right:10px;}
#context .c_lt .clt_f a:hover{color:#F00;transition:1s all;}
#context .c_lt .clt_f a.active{color:#F00;transition:1s all;}
#context .c_c100{float:left;width:1046px;margin-left:30px;}
#context .c_cr{float:left;width:705px;margin-left:30px;}
#context .c_cr .hotbq{width:705px;border-top:4px solid #CCC;padding-top:20px;}
#context .c_cr .hotbq h2{font-family:"微软雅黑";float:left;width:100px;height:60px;font-size:18px;color:#666;}
#context .c_cr .hotbq .bq{float:left;width:600px;}
#context .c_cr .hotbq a{display:inline-block;width:43px;height:26px;line-height:26px;background:url(../../images/new_47.gif) no-repeat;font-size:12px;padding-left:20px;margin-left:20px;margin-bottom:10px;}
#context .c_cr .hotbq a:hover{color:#F00;background:url(../../images/new_47_.gif) no-repeat;}

.anniu{text-align:right;font-size:12px;}
.anniu span{color:#333;display:inline-block;line-height:12px;}
.anniu span.hotornew{background:#CCC;border-radius:8px;width:32px;height:10px;position:relative;cursor:pointer;}
.anniu span.hotornew font{position:absolute;left:0;}
.anniu span.hotornew font img{ vertical-align:middle;}

#context .c_cr .newst{margin-top:10px;padding-bottom:50px;}
#context .c_cr .newst .nlist{margin-bottom:37px;height:180px;border-bottom:1px solid #CCC;}
#context .c_cr .newst .nlist .npic{float:left;}
#context .c_cr .newst .nlist .nnr{float:left;margin-left:20px;width:480px;}
#context .c_cr .newst .nlist .nnr h2{font-size:20px;color:#444;}
#context .c_cr .newst .nlist .snstime{text-align:right;margin:10px 0;}
#context .c_cr .newst .nlist .snstime span{color:#999;font-size:12px;display:inline-block;margin-right:8px;}
#context .c_cr .newst .nlist .snstime span.look{background:url(../../images/new_80.gif) no-repeat;padding-left:22px;}
#context .c_cr .newst .nlist .snstime span.msg{background:url(../../images/new_82.gif) no-repeat;padding-left:20px;}
#context .c_cr .newst .nlist .snstime span.good{background:url(../../images/new_77.gif) no-repeat;padding-left:20px;}
#context .c_cr .newst .nlist p{font-size:14px;font-family:"微软雅黑";line-height:20px;color:#666;}

.page1{width:705px;text-align:center;margin-top:30px;}
.page1 a{display:inline-block;width:25px;height:25px;line-height:25px;border:1px solid #CCC;margin-left:10px;font-size:12px;color:#666;border-radius:5px;}

#context .c_rt{float:left;margin-left:20px;width:285px;border-left:1px solid #CCC;padding-left:20px;}
#context .c_rt .ques{border-top:4px solid #CCC;}
#context .c_rt .ques h2{border-bottom:1px solid #CCC;padding-bottom:5px;line-height:27px;margin-top:10px;margin-bottom:5px;}
#context .c_rt .ques h2 a{font-size:14px;color:#666;font-weight:normal;float:right;}
#context .c_rt .ques h2 span{font-size:18px;}
#context .c_rt .ques .lcfind{background:url(../../images/new_54.gif) no-repeat;width:274px;height:133px;padding-top:12px;}
#context .c_rt .ques .lcfind h3{font-size:30px;text-align:center;color:#FFF;font-weight:normal;font-family:"微软雅黑";}
#context .c_rt .ques .lcfind h3 span{color:#F00;}
#context .c_rt .ques .lcfind p.lc_tit{font-size:14px;color:#fff;text-align:center;margin-top:6px;}
#context .c_rt .ques .lcfind a{display:block;margin:0 auto;width:150px;text-align:center;height:30px;line-height:30px;color:#FFF;background:#F00;margin-top:6px;}
#context .c_rt .ques .lcfind p.lctt{text-align:center;color:#FFF;font-size:12px;margin-top:6px;}

#context .c_rt .ques ul li{border-bottom:1px solid #CCC;padding:5px 0;}
#context .c_rt .ques ul li h1{font-size:14px;margin-bottom:5px;}
#context .c_rt .ques ul li p{font-size:12px;color:#666;}
#context .c_rt .ques .querform{margin-top:10px;text-align:right;}
#context .c_rt .ques .querform .quesnr{width:280px;height:50px;border:1px solid #CCC;}
#context .c_rt .ques .querform .tiwen{width:80px;height:25px;line-height:25px;text-align:center;margin-top:10px;background:#F00;border:0;color:#FFF;}

#context .c_rt .lt{border-top:4px solid #CCC;margin-top:50px;}
#context .c_rt .lt h2{border-bottom:1px solid #CCC;padding-bottom:5px;line-height:27px;margin-top:10px;margin-bottom:5px;}
#context .c_rt .lt h2 a{font-size:14px;color:#666;font-weight:normal;float:right;}
#context .c_rt .lt h2 span{font-size:18px;}
#context .c_rt .lt ul li{border-bottom:1px solid #CCC;padding:5px 0;}
#context .c_rt .lt ul li h1{font-size:12px;margin-bottom:5px;}
#context .c_rt .lt ul li h1 span.shul{font-size:12px;background:#CCC;color:#333;margin-right:5px;font-weight:normal;}
#context .c_rt .lt ul li h1 span.ding{color:#F00;margin-right:5px;font-weight:normal;}
#context .c_rt .lt ul li h1 span.titi{color:#333;}
#context .c_rt .lt .querform{margin-top:10px;text-align:right;}
#context .c_rt .lt .querform .quesnr{width:280px;height:50px;border:1px solid #CCC;}
#context .c_rt .lt .querform .tiwen{width:80px;height:25px;line-height:25px;text-align:center;margin-top:10px;background:#F00;border:0;color:#FFF;}

.box1200{ width:1200px; margin: 0 auto}

/*footer*/
#footer{background:#3E3A39; overflow:hidden; }
.footer-box{ width:1200px; margin:auto}
.footer-logoer{ border-top:1px #EEEEEF solid; width:1200px; margin:auto; margin-top:63px; position:relative}
.footer-logoer em{ width:166px; height:25px; background:url(../../images/index/icon.png) no-repeat  #3E3A39; background-position:30px -80px; display:block; position:absolute; left:50%; margin-left:-113px; top:-17px; padding:0 30px;}
.footer-logoer em{ padding-top:30px; font-size:9px; color:#EFEFEF; font-style:normal}
.footer-logoer em.home-logoer{background:url(../../images/index/foot-logoer.png) no-repeat 25px 0 #3E3A39; height: 40px;top:-30px;}
.footer-box ul{ padding:55px 0; }
.footer-box ul.home{width: 900px; padding: 55px 0 0 0;}
.footer-box ul li{ width:12.5%; float:left; text-align:center}
.footer-box ul li a:link,.footer-box ul li a:visited,.footer-box ul li a:active,.footer-box ul li a:hover{color:#EEEEEF}
.footer-left{width: 900px; float: left; padding-top: 10px; padding-bottom: 40px; overflow: hidden;}
.footer-right{float: left; width: 260px; padding-left: 40px; padding-top: 60px;}
.footer-right .wm{float: left; margin-top: 2px;}
.footer-box .footer-right ul{float: left; padding: 0;}
.footer-left ul li a{font-size: 17px;}
.footer-left p{ color: #EEEEEF; padding: 18px 0 18px 18px; float: left;}
.footer-box ul.icon-list{ width: 120px; margin-left: 10px;}
.footer-box ul.icon-list li{ width: 33px; height: 33px; margin: 3px;}
