#context .hqdw .clt_f {
    background: #3e3a39;
    margin-bottom: 50px;
}

#context .hqdw .clt_f h1 {
    background: #e82124;
    color: #FFF;
    height: 50px;
    line-height: 50px;
}

#context .hqdw .clt_f h1 span.colsen {
    color: #FFF;
    border: none;
    line-height: 20px;
}

#context .hqdw .clt_f h2 {
    background: #e82124;
    color: #FFF;
    height: 50px;
    line-height: 50px;
}

#context .hqdw .clt_f h2 span.colsen {
    color: #FFF;
    border: none;
    line-height: 20px;
}

#context .hqdw .clt_f a {
    color: #FFF;
    text-align: left;
    padding: 10px 0;
    border: 0;
    padding-left: 13px;
}

#context .hqdw .clt_f a:hover {
    color: #F00;
    transition: 1s all;
}

#context .hqdw .clt_f a.active {
    color: #F00;
}

#context .hqdw .quesx {
    background: #e82124;
    margin-bottom: 30px;
}

#context .hqdw .quesx a {
    font-size: 24px;
    font-weight: bold;
    display: block;
    font-family: "微软雅黑";
    line-height: 40px;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}

#context .hq_r {
    float: left;
    margin-left: 10px;
    width: 1062px;
}

#context .hq_r .hq1_tit {
    border-top: 4px solid #CCC;
    padding: 20px 0;
    height: 26px;
    border-bottom: 1px solid #CCC;
}

#context .hq_r .hq1_tit .hqtit_left {
    float: left;
    font-size: 24px;
    font-family: "微软雅黑";
    font-weight: bold;
}

#context .hq_r .hq1_tit .hqtit_right {
    float: right;
}

#context .hq_r .hq1_tit .hqtit_right span {
    font-size: 12px;
    color: #666;
}

#context .hq_r .hq1_tit .hqtit_right select {
    font-size: 12px;
    color: #666;
}

#context .hq_r .dolldraw {
    margin-top: 20px;
}

#context .hq_r .dolldraw .dd_list {
    width: 495px;
    height: 120px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin-bottom: 20px;
}

#context .hq_r .dolldraw .red {
    border-left: 4px solid #F00;
}

#context .hq_r .dolldraw .red.hq2fst {
    background: #ffe1e3;
}

#context .hq_r .dolldraw .red .dlisttop .dltt_r {
    color: #F00;
    background: url(../images/day_101.gif) no-repeat left center;
}

#context .hq_r .dolldraw .gren {
    border-left: 4px solid #096;
}

#context .hq_r .dolldraw .gren.hq2tus {
    background: #e5ffdc;
}

#context .hq_r .dolldraw .gren .dlisttop .dltt_r {
    color: #099;
    background: url(../images/day_103.gif) no-repeat left center;
}

#context .hq_r .dolldraw .nomgl {
    margin-right: 20px;
}

#context .hq_r .dolldraw .dd_list .dlisttop {
    margin-top: 5px;
    width: 100%;
    height: 40px;
}

#context .hq_r .dolldraw .dd_list .dlisttop .dltt_l {
    float: left;
    width: 100px;
}

#context .hq_r .dolldraw .dd_list .dlisttop .dltt_l h2 {
    font-size: 22px;
}

#context .hq_r .dolldraw .dd_list .dlisttop .dltt_l a{
    color:#000;
}

#context .hq_r .dolldraw .dd_list .dlisttop .dltt_r {
    float: left;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 12px;
}

#context .hq_r .dolldraw .dd_list .dlistbottom {
    margin-top: 10px;
    width: 100%;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlleft {
    font-size: 12px;
    float: left;
    line-height: 16px;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlleft p {
    margin-bottom: 4px;
    color: #333;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlleft p span {
    color: #666;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlcenter {
    font-size: 12px;
    float: left;
    margin-left: 20px;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlcenter p {
    margin-bottom: 5px;
    color: #999;
    line-height: 16px;
}

#context .hq_r .dolldraw .dd_list .dlistbottom .dlcenter p img {
    display: inline-block;
    margin-right: 3px;
}

#context .hq_r .dolldraw .dd_list .dlright {
    float:right;
    margin-right:40px;
    margin-top:-40px;
}

#context .hq_r .hqtab1 {
    margin-top: 50px;
    width: 100%;
}

#context .hq_r .hqtab1 .hqtb_list {
    margin-bottom: 30px;
}

#context .hq_r .hqtab1 table.hq1table {
    border-top: 4px solid #CCC;
}

#context .hq_r .hqtab1 table.hq1table tr.fst {
    background: #eeeef0;
}

#context .hq_r .hqtab1 table.hq1table tr.fst td {
    border: 0;
}

#context .hq_r .hqtab1 table.hq1table tr.fst td b {
    font-size: 20px;
}

#context .hq_r .hqtab1 table.hq1table tr.hr td {
    font-weight: bolder;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2fst {
    background: #ffe1e3;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2fst td.red {
    background: #e82124;
    color: #FFF;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2fst td.udred {
    background: #e82124 url(../images/day_101_w.png) no-repeat 8px center;
    color: #FFF;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2tus {
    background: #e5ffdc;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2tus td.gren {
    background: #339967;
    color: #FFF;
}

#context .hq_r .hqtab1 table.hq1table tr.hq2tus td.udgren {
    background: #339967 url(../images/day_103_w.png) no-repeat 8px center;
    color: #FFF;
}

#context .hq_r .hqtab1 table.hq1table tr {
    height: 60px;
}

#context .hq_r .hqtab1 table.hq1table td {
    padding: 5px;
    font-family: "微软雅黑";
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
    border-left: 1px solid #CCC;
}

#context .hq_r .hqtab1 table.hq1table td.red {
    color: #F00;
}

#context .hq_r .hqtab1 table.hq1table td.gren {
    color: #096;
}

#context .hq_r .hqtab1 table.hq1table td.udred {
    background: url(../images/day_101.gif) no-repeat 5px center;
}

#context .hq_r .hqtab1 table.hq1table td.udgren {
    background: url(../images/day_103.gif) no-repeat 5px center;
}

#context .hq_r .hqtab1 table.hq1table td.nobor {
    border-left: 0;
}

/*行情第二页*/
#context .hq_r .hui {
    background: #eee;
}

#context .hq_r .hui .hqtit_left {
    margin-left: 5px;
}

#context .hq_r .hui .hqtit_right {
    margin-left: 5px;
}

#context .hq_r .hqtab2 {
    margin-top: 0px;
    width: 100%;
}

#context .hq_r .hqtab2 .hqtb_list {
    margin-bottom: 30px;
}

#context .hq_r .hqtab2 table.hq1table {
    border-top: 1px solid #CCC;
}

#context .hq_r .hqtab2 table.hq1table tr.fst {
    background: #eeeef0;
}

#context .hq_r .hqtab2 table.hq1table tr.fst td {
    border: 0;
}

#context .hq_r .hqtab2 table.hq1table tr.fst td b {
    font-size: 20px;
}

#context .hq_r .hqtab2 table.hq1table tr.hr td {
    font-weight: bolder;
}

#context .hq_r .hqtab2 table.hq1table tr {
    height: 60px;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2fst {
    background: #ffe1e3;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2fst td.red {
    background: #e82124;
    color: #FFF;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2fst td.udred {
    background: #e82124 url(../images/day_101_w.png) no-repeat 8px center;
    color: #FFF;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2tus {
    background: #e5ffdc;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2tus td.gren {
    background: #339967;
    color: #FFF;
}

#context .hq_r .hqtab2 table.hq1table tr.hq2tus td.udgren {
    background: #339967 url(../images/day_103_w.png) no-repeat 8px center;
    color: #FFF;
}

#context .hq_r .hqtab2 table.hq1table td {
    padding: 5px;
    font-family: "微软雅黑";
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
    border-left: 1px solid #CCC;
}

#context .hq_r .hqtab2 table.hq1table td.red {
    color: #F00;
}

#context .hq_r .hqtab2 table.hq1table td.gren {
    color: #096;
}

#context .hq_r .hqtab2 table.hq1table td.udred {
    background: url(../images/day_101.gif) no-repeat 8px center;
}

#context .hq_r .hqtab2 table.hq1table td.udgren {
    background: url(../images/day_103.gif) no-repeat 8px center;
}

#context .hq_r .hqtab2 table.hq1table td.nobor {
    border-left: 0;
}

#context .hq_r .hq2_news {
    margin-top: 50px;
    border-top: 4px solid #ccc;
}

#context .hq_r .hq2_news h2 {
    line-height: 40px;
    font-family: "微软雅黑";
    height: 40px;
    border-bottom: 1px solid #CCC;
}

#context .hq_r .hq2_news h2 span {
    font-size: 22px;
    float: left;
}

#context .hq_r .hq2_news h2 a {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    float: right;
}

#context .hq_r .hq2_news ul li {
    line-height: 35px;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ddd;
}

#context .hq_r .hq2_news ul li a {
    float: left;
    font-size: 12px;
    color: #666;
    font-family: "微软雅黑";
}

#context .hq_r .hq2_news ul li span {
    float: right;
    font-size: 12px;
    color: #999;
    font-family: "微软雅黑";
}

/*3*/
#context .hq_r .hq3_tit {
    border-top: 4px solid #CCC;
    height: 60px;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

.hq3_tit .hq3t_l1 {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    line-height: 60px;
}

.hq3_tit .hq3t_l1 img {
    vertical-align: middle;
    margin-left: 10px;
}

.hq3_tit .hq3t_l2 {
    float: left;
    margin-left: 80px;
}

.hq3_tit .hq3t_l2 p {
    font-size: 18px;
    color: #e60000;
    line-height: 30px;
    font-family: "微软雅黑";
}

.hq3_tit .hq3t_l2 span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: #e60000;
    font-size: 12px;
    margin-right: 10px;
    font-weight: normal;
    font-family: "微软雅黑";
}

.hq3_tit .hq3t_l2 p span.red3{
    font-size:18px;
    color:#e60000;
    line-height:30px;
    font-family:"微软雅黑";
    font-weight:bold;
}

.hq3_tit .hq3t_l2 p span.gren3{
    font-size:18px;
    color:#1f9058;
    line-height:30px;
    font-family:"微软雅黑";
    font-weight:bold;
}

.hq3_tit .hq3t_l2 span.red3{
    display:inline-block;
    eight:22px;
    line-height:22px;
    color:#e60000;
    font-size:12px;
    margin-right:10px;
    font-weight:normal;
    font-family:"微软雅黑";
}

.hq3_tit .hq3t_l2 span.gren3{
    display:inline-block;
    height:22px;
    line-height:22px;
    color:#1f9058;
    font-size:12px;
    margin-right:10px;
    font-weight:normal;
    font-family:"微软雅黑";
}

.hq3_tit .hq3t_l2 span img {
    vertical-align: middle;
    margin-right: 5px;
}

.hq3_tit .hq3t_l2 span font {
    color: #666;
    margin-right: 5px;
}

.hq3_tit .hq3t_l3 {
    float: left;
    margin-left: 80px;
    width: 270px;
    padding-top: 5px;
}

.hq3_tit .hq3t_l3 span {
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-family: "微软雅黑";
    color: #666;
}

.hq3_tit .hq3t_l3 span font {
    font-weight: bolder;
}

.hq3_tit .hq3t_l3 span.red3 font {
    color: #e50000;
}

.hq3_tit .hq3t_l3 span.gren3 font {
    color: #1f9058;
}

.hq3_tit .hq3t_l4 {
    float: right;
    margin-right: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #666;
    line-height: 50px;
}

.hq_r .hqline3 {
    width: 100%;
    margin-top: 5px;
}

.hq_r .hqline3 .hqle-l {
    float: left;
}

.hq_r .hqline3 .hqle-l .hq3tab {
    margin-top: 10px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    background: url(../images/hq32-3_01.jpg) repeat-x;
}

.hq_r .hqline3 .hqle-l .hq3tab span {
    display: inline-block;
    width: 84px;
    text-align: center;
    font-family: "微软雅黑";
    color: #666;
}

.hq_r .hqline3 .hqle-l .hq3tab span.hq3top {
    background: url(../images/hq32-3_07.gif) no-repeat;
    color: #FFF;
}

.hq_r .hqline3 .hqle-l .hq3tab span.hq3bot {
    background: url(../images/hq32-3_10.gif) no-repeat 0px 5px;
    color: #FFF;
}

.hq_r .hqline3 .hqle-l .hq3tab span:hover{
    background:url(../images/hq32-3_10.gif) no-repeat 0px 5px;
    color:#FFF;
}

.hq_r .hqline3 .hqle-l .chart{
    width:820px;
	height:460px;
}

.hq_r .hqline3 .hqle-r {
    float: right;
    width: 230px;
    background: #eeeef0;
    border-top: 4px solid #CCC;
}

.hq_r .hqline3 .hqle-r .hqle-r1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d8;
}

.hq_r .hqline3 .hqle-r .hqle-r1tit {
    line-height: 36px;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d8;
}

.hq_r .hqline3 .hqle-r .hqle-r1tit span {
    font-weight: bold;
    font-size: 24px;
    display: block;
}

.hq_r .hqline3 .hqle-r .hqle-r1 .hqle-r1con p {
    line-height: 50px;
    color: #666;
    font-size: 12px;
}

.hq_r .hqline3 .hqle-r .hqle-r1 .hqle-r1con p span {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.hq_r .hqline3 .hqle-r .hqle-r1 .hqle-r1con p.red3 {
    color: #e50000;
}

.hq_r .hqline3 .hqle-r .hqle-r1 .hqle-r1con p.gren3 {
    color: #1f9058;
}

.hq_r .hqline3 .hqle-r .hqle-r2 {
    padding-bottom: 10px;
}

.hq_r .hqline3 .hqle-r .hqle-r2 h2 {
    width: 230px;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #d6d6d8;
}

.hq_r .hqline3 .hqle-r .hqle-r2 h2 span {
    display: inline-block;
    color: #444;
    width: 108px;
    text-align: center;
    font-size: 20px;
}

.hq_r .hqline3 .hqle-r .hqle-r2 p {
    width: 230px;
    line-height: 45px;
    height: 45px;
}

.hq_r .hqline3 .hqle-r .hqle-r2 p span {
    display: inline-block;
    font-size: 12px;
    font-family: "微软雅黑";
}

.hq_r .hqline3 .hqle-r .hqle-r2 p span.hq3time {
    text-align: center;
    width: 108px;
}

.hq_r .hqline3 .hqle-r .hqle-r2 p span.hq3pri {
    width: 64px;
    background: url(../images/day_101.gif) no-repeat 23px center;
    color: #093;
    margin-left: 6px;
    padding-left: 44px;
}

/*首页*/
#context .content1 {
    width: 1200px;
}

#context .content1 .ct1_left {
    float: left;
    width: 950px;
    border: 1px solid #033;
}

#context .content1 .ct1_left .ct1_l_top {
    height: 265px;
}

#context .content1 .ct1_left .ct1_l_top .ct1_l_t_l {
    float: left;
    border-top: 4px solid #CCC;
    width: 430px;
}

#context .content1 .ct1_left .ct1_l_top .ct1_l_t_l h2 {
    border-bottom: 1px solid #CCC;
    height: 50px;
    line-height: 50px;
}

#context .content1 .ct1_left .ct1_l_top .ct1_l_t_l .ind_slide {
    margin-top: 17px;
}

#context .content1 .ct1_left .ct1_l_top .ct1_l_t_c {
    float: left;
    border-top: 4px solid #CCC;
    width: 155px;
    margin-left: 7px;
}

#context .content1 .ct1_left .ct1_l_top .ct1_l_t_r {
    float: right;
}

#context .content1 .ct1_right {
    float: right;
    width: 230px;
}