body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

img {
    border: 0;
}

a:hover {
}

/*logo出现*/
#top {
    width: 100%;
    min-width: 1200px;
    height: 40px;
    background: #3e3a39;
}

#top .top_c {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}


#top .top_c span img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.sout {
    position: absolute;
    right: 0;
    top: 8px;
    width: 60px;
    height: 22px;
    border: 1px solid #CCC;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}

#gug {
    width: 100%;
    min-width: 1200px;
    height: 30px;
    background: #c8c9ca;
}

#gug .gug_c {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#gug .gug_c a {
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    margin-left: 20px;
}

#header {
    width: 1200px;
    margin: 10px auto;
    height: 130px;
}

#header .hr_l {
    float: left;
}

#header .hr_l .loandad {
    width: 920px;
    height: 75px;
}

#header .hr_l .loandad .logo {
    float: left;
}

#header .hr_l .loandad .lo_ad {
    float: left;
    margin-left: 10px;
    text-align: center;
    width: 718px;
}
#header-ad-2{float: right;}/*第二广告右边*/
#header .hr_l .loandad .lo_ad span {
    margin-left: 10px;
}

#header .hr_l .menu {
    margin-top: 10px;
    width: 920px;
    background: #3e3a39;
    height: 38px;
    border-bottom: 1px solid #9b9999;
}

#header .hr_l .menu ul li {
    float: left;
    padding: 6px 0px 10px;
    line-height: 18px;
    text-align: center;
    border-top: 4px solid #3e3a39;
    position: relative;
}

#header .hr_l .menu ul li a {
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 14px;
    display: inline-block;
    border-left: 1px solid #999;
    padding: 0 18px;
}

#header .hr_l .menu ul li.fst a {
    border: none;
}

#header .hr_l .menu ul li:hover {
    border-top: 4px solid #F30;
}

#header .hr_l .menu ul li.active {
    border-top: 4px solid #F30;
}

#header .hr_l .menu ul li .mu2 {
    position: absolute;
    z-index: 100;
    width: 600px;
    top: 35px;
    background: #595757;
    padding: 5px 0;
    color: #CCC;
    font-size: 12px;
    text-align: left;
    display: none;
}

#header .hr_l .menu ul li .mu2 a {
    display: inline-block;
    border: 0;
    font-size: 12px;
    padding: 0 8px;
}

#header .hr_r {
    float: left;
}

#header .hr_r .formt {
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    color: #999;
}

#header .hr_r .formt a {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 12px;
}

#header .hr_r .formt .seartx {
    border: 1px solid #CCC;
    width: 160px;
    height: 21px;
    line-height: 21px;
    vertical-align: middle;
}

#header .hr_r .formt .sertb {
    height: 23px;
    line-height: 23px;
    width: 24px;
    background: url(../images/new_12.gif) no-repeat;
    border: 1px solid #CCC;
    border-left: 0;
    vertical-align: middle;
}

#header .hr_r .iconav {
    background: #3e3a39;
    height: 75px;
    width: 280px;
    border-bottom: 1px solid #9b9999;
}

#header .hr_r .iconav ul li {
    float: left;
    text-align: center;
    margin-left: 21px;
}

#header .hr_r .iconav ul li img {
    display: block;
    margin: 9px 0 5px;
}

#header .hr_r .iconav ul li a {
    font-size: 14px;
    color: #FFF;
    font-family: "微软雅黑";
}

.mfix {
    position: fixed;
    top: -95px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

#slide {
    width: 1200px;
    margin: 10px auto;
    height: 344px;
}

#slide .slideimg {
    float: left;
    width: 900px;
    height: 344px;
    position: relative;
    overflow: hidden;
}

#slide .slideimg .prev {
    position: absolute;
    width: 115px;
    height: 344px;
    left: 0;
    top: 0;
    z-index: 10;
    background: url(../images/gd_al.png) repeat;
}

#slide .slideimg .prev .pr {
    display: block;
    width: 115px;
    height: 344px;
    background: url(../images/new_38.gif) no-repeat center;
    cursor: pointer;
}

#slide .slideimg .next {
    position: absolute;
    width: 115px;
    height: 344px;
    right: 0;
    top: 0;
    background: url(../images/gd_al.png) repeat;
    z-index: 10;
}

#slide .slideimg .next .pr {
    display: block;
    width: 115px;
    height: 344px;
    background: url(../images/new_41.gif) no-repeat center;
    cursor: pointer;
}

#slide .slideimg .slul {
    position: absolute;
    width: 99999px;
    margin-left: 117px;
    z-index: 9;
}

.deboe1 {
    float: left;
}

.deboe2 {
    float: left;
}

#slide .slideimg .slul .sluli {
    float: left;
    width: 666px;
    position: relative;
    margin-right: 2px;
}

#slide .slideimg .slul .sluli .sl_x {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 646px;
    background: url(../images/gd_al.png) repeat;
    padding-bottom: 20px;
}

#slide .slideimg .slul .sluli .sl_x h1{
	color:#ffffff;
	font-size:20px;
	
	}

#slide .slideimg .slul .sluli .sl_x h1 span a{
    color:#ffffff;
    font-size:20px;
}

#slide .slideimg .slul .sluli .sl_x h2 {
    font-size: 18px;
    font-family: "微软雅黑";
    color: #CCC;
}

#slide .slideimg .slul .sluli .sl_x h2 span.wname {
    font-size: 12px;
    margin-left: 20px;
}

#slide .slideimg .slul .sluli .sl_x h2 span.wtime {
    font-size: 12px;
    margin-left: 20px;
}

#slide .slideimg .slul .sluli .sl_x p {
    font-family: "微软雅黑";
    font-size: 12px;
    margin-top: 7px;
    color: #CCC;
    line-height: 20px;
}

#slide .slideimg .slul .sluli .slpic img {
    width: 666px;
    height: 344px;
}

#slide .slideimg .slibtn {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 10;
}

#slide .slideimg .slibtn span {
    width: 5px;
    height: 5px;
    background: #FFF;
    border: 1px solid #FFF;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#slide .slideimg .slibtn span.active {
    background: none;
}

#slide .adnav {
    float: right;
    width: 274px;
}

#slide .adnav .ad_1 {
    margin-bottom: 20px;
}

#context {
    width: 1200px;
    margin: 25px auto;
}

#context .c_lt {
    float: left;
    width: 124px;
    height: 1px;
}

#context .c_lt .clt_f {
    width: 124px;
    transition: 2s all;
    background: #FFF;
}

#context .c_lt .clt_f h1 {
    position: relative;
}

#context .c_lt .clt_f h1 .colsen {
    position: absolute;
    right: 0;
    top: 0;
    color: #c00;
    padding: 0 4px;
    border: 1px solid #C00;
    font-size: 12px;
    border-radius: 10px;
    font-weight: normal;
    cursor: pointer;
}

#context .c_lt .clt_f h2 {
    position: relative;
}

#context .c_lt .clt_f h2 .colsen {
    position: absolute;
    right: 0;
    top: 0;
    color: #c00;
    padding: 0 4px;
    border: 1px solid #C00;
    font-size: 12px;
    border-radius: 10px;
    font-weight: normal;
    cursor: pointer;
}

.clfix {
    position: fixed;
    top: 50px;
    transition: 2s all;
}

.openn {
    color: #c00;
    width: 15px;
    text-align: center;
    height: 15px;
    font-size: 14px;
    line-height: 15px;
    padding: 0 2px;
    border: 1px solid #C00;
    font-size: 12px;
    border-radius: 3px;
    font-weight: normal;
    cursor: pointer;
    display: none;
}

#context .c_lt h1 {
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑";
}

#context .c_lt h2 {
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑";
}

#context .c_lt a {
    display: block;
    text-align: center;
    border-bottom: 1px dashed #CCC;
    padding: 7px 0;
    font-size: 14px;
    font-family: "微软雅黑";
    transition: 1s all;
}

#context .c_lt a img {
    vertical-align: middle;
    margin-right: 10px;
    width: 26px;
    height: 26px;
}

#context .c_lt a:hover {
    color: #F00;
    transition: 1s all;
}

#context .c_lt a.active {
    color: #F00;
}

#context .c_cr {
    float: left;
    width: 705px;
    margin-left: 30px;
}

#context .c_cr .hotbq {
    width: 705px;
    border-top: 4px solid #CCC;
    padding-top: 20px;
}

#context .c_cr .hotbq h2 {
    font-family: "微软雅黑";
    float: left;
    width: 100px;
    height: 60px;
    font-size: 18px;
    color: #666666;
}

#context .c_cr .hotbq .bq {
    float: left;
    width: 600px;
}

#context .c_cr .hotbq a {
    color: #6abce2;
    display: inline-block;
    height: 26px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 11px;
}

#context .c_cr .hotbq a:hover {
    color: #F00;
}

#context .c_cr .hotbq a.active {
    color: #F00;
}

.anniu {
    text-align: right;
    font-size: 12px;
}

.anniu span {
    color: #333;
    display: inline-block;
    line-height: 12px;
}

.anniu span.hotornew {
    background: #CCC;
    border-radius: 8px;
    width: 32px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.anniu span.hotornew font {
    position: absolute;
    left: 0;
    line-height: 8px;
}

.anniu span.hotornew font img {
    vertical-align: middle;
}

#context .c_cr .newst {
    margin-top: 10px;
    padding-bottom: 50px;
}

#context .c_cr .newst .nlist {
    margin-bottom: 37px;
    height: 180px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

#context .c_cr .newst .nlist .npic {
    float: left;
}

#context .c_cr .newst .nlist .npic img {
    width: 203px;
    height: 139px;
}

#context .c_cr .newst .nlist .nadpic {
    float: left;
}

#context .c_cr .newst .nlist .nadpic img {
    width: 705px;
    height: 200px;
}

#context .c_cr .newst .nlist .nnr {
    float: left;
    margin-left: 20px;
    width: 480px;
}

#context .c_cr .newst .nlist .nnr h2 {
    font-size: 20px;
    color: #444;
}

#context .c_cr .newst .nlist .snstime {
    text-align: right;
    margin: 10px 0;
}

#context .c_cr .newst .nlist .snstime span {
    color: #333333;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
}

#context .c_cr .newst .nlist .snstime span.look {
    background: url(../images/new_80.gif) no-repeat;
    padding-left: 22px;
}

#context .c_cr .newst .nlist .snstime span.msg {
    background: url(../images/new_82.gif) no-repeat;
    padding-left: 20px;
}

#context .c_cr .newst .nlist .snstime span.good {
    background: url(../images/new_77.gif) no-repeat;
    padding-left: 20px;
}

#context .c_cr .newst .nlist p {
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 20px;
    color: #333333;
}

.page1 {
    width: 705px;
    text-align: center;
    margin-top: 30px;
}

.page1 a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #CCC;
    margin-left: 10px;
    font-size: 12px;
    color: #666666;
}

.page1 a.active {
    color: #F00;
}

#context .c_rt {
    float: left;
    margin-left: 20px;
    width: 285px;
    border-left: 1px solid #CCC;
    padding-left: 20px;
}

#context .c_rt .ques {
    border-top: 4px solid #CCC;
}

#context .c_rt .ques h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#context .c_rt .ques h2 a {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    float: right;
}

#context .c_rt .ques h2 span {
    font-size: 18px;
}

#context .c_rt .ques .lcfind {
    background: url(../images/new_54.gif) no-repeat;
    width: 274px;
    height: 133px;
    padding-top: 12px;
}

#context .c_rt .ques .lcfind h3 {
    font-size: 30px;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-family: "微软雅黑";
}

#context .c_rt .ques .lcfind h3 span {
    color: #F00;
}

#context .c_rt .ques .lcfind p.lc_tit {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 6px;
}

#context .c_rt .ques .lcfind a {
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background: #F00;
    margin-top: 6px;
}

#context .c_rt .ques .lcfind p.lctt {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    margin-top: 6px;
}

#context .c_rt .ques ul li {
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
}

#context .c_rt .ques ul li h1 {
    font-size: 14px;
    margin-bottom: 5px;
}

#context .c_rt .ques ul li h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

#context .c_rt .ques ul li p {
    font-size: 12px;
    color: #333333;
}

#context .c_rt .ques .querform {
    margin-top: 10px;
    text-align: right;
}

#context .c_rt .ques .querform .quesnr {
    width: 280px;
    height: 50px;
    border: 1px solid #CCC;
}

#context .c_rt .ques .querform .tiwen {
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
    background: #F00;
    border: 0;
    color: #FFF;
}

#context .c_rt .lt {
    border-top: 4px solid #CCC;
    margin-top: 50px;
}

#context .c_rt .lt h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#context .c_rt .lt h2 a {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    float: right;
}

#context .c_rt .lt h2 span {
    font-size: 18px;
}

#context .c_rt .lt ul li {
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
}

#context .c_rt .lt ul li h1 {
    font-size: 12px;
    margin-bottom: 5px;
}

#context .c_rt .lt ul li h1 span.shul {
    font-size: 12px;
    background: #CCC;
    color: #333;
    margin-right: 5px;
    font-weight: normal;
}

#context .c_rt .lt ul li h1 span.ding {
    color: #F00;
    margin-right: 5px;
    font-weight: normal;
}

#context .c_rt .lt ul li h1 span.titi {
    color: #333;
}

#context .c_rt .lt ul li h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

#context .c_rt .lt ul li h2 span.shul {
    font-size: 12px;
    background: #CCC;
    color: #333;
    margin-right: 5px;
    font-weight: normal;
}

#context .c_rt .lt ul li h2 span.ding {
    color: #F00;
    margin-right: 5px;
    font-weight: normal;
}

#context .c_rt .lt ul li h2 span.titi {
    color: #333;
}

#context .c_rt .lt .querform {
    margin-top: 10px;
    text-align: right;
}

#context .c_rt .lt .querform .quesnr {
    width: 280px;
    height: 50px;
    border: 1px solid #CCC;
}

#context .c_rt .lt .querform .tiwen {
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
    background: #F00;
    border: 0;
    color: #FFF;
}

#footerold {
    background: #3e3a39;
    width: 100%;
    min-width: 1200px;
    padding: 20px 0;
}

#footer{background:#3E3A39; overflow:hidden; }
.footer-box{ width:1200px; margin:auto}
.footer-logoer{ border-top:1px #EEEEEF solid; width:1200px; margin:auto; margin-top:63px; position:relative}
.footer-logoer em{ width:166px; height:25px; background:url(../../images/index/icon.png) no-repeat  #3E3A39; background-position:30px -80px; display:block; position:absolute; left:50%; margin-left:-113px; top:-17px; padding:0 30px;}
.footer-logoer em{ padding-top:30px; font-size:9px; color:#EFEFEF; font-style:normal}
.footer-logoer em.home-logoer{background:url(../../images/index/foot-logoer.png) no-repeat 25px 0 #3E3A39; height: 40px;top:-30px;}
.footer-box ul{ padding:55px 0; }
.footer-box ul.home{width: 900px; padding: 55px 0 0 0;}
.footer-box ul li{ width:12.5%; float:left; text-align:center}
.footer-box ul li a:link,.footer-box ul li a:visited,.footer-box ul li a:active,.footer-box ul li a:hover{color:#EEEEEF}
.footer-left{width: 900px; float: left; padding-top: 10px; padding-bottom: 40px; overflow: hidden;}
.footer-right{float: left; width: 230px; padding-left: 40px; padding-top: 60px;}
.footer-right .wm{float: left; margin-top: 2px;}
.footer-box .footer-right ul{float: left; padding: 0;}
.footer-left ul li a{font-size: 17px;}
.footer-left p{ color: #EEEEEF; padding: 18px 0 18px 18px; float: left; font-size:14px;}
.footer-box ul.icon-list{ width: 140px; margin-left: 10px;}
.footer-box ul.icon-list li{ width: 33px; height: 33px; margin: 3px;}

.ft_logo {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/loline.png) no-repeat center;
}

#footer .ft_b {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    height: 80px;
}

#footer .ft_b .ftb_left {
    float: left;
}

#footer .ft_b .ftb_left .fl_nav {
    margin-bottom: 20px;
}

#footer .ft_b .ftb_left .fl_nav a {
    font-size: 15px;
    color: #FFF;
    margin-right: 28px;
}

#footer .ft_b .ftb_left .contact span {
    color: #FFF;
    margin-right: 12px;
    font-size: 12px;
}

#footer .ft_b .ftb_right {
    float: right;
    width: 230px;
}

#footer .ft_b .ftb_right .ft_wex {
    float: left;
}

#footer .ft_b .ftb_right .ft_fx {
    float: left;
    width: 140px;
    margin-left: 10px;
}

#footer .ft_b .ftb_right .ft_fx span {
    margin-right: 5px;
    margin-bottom: 5px;
}

/*新闻详细*/
.c_cr .news_x {
    border-top: 4px solid #CCC;
}

.c_cr .news_x h2 {
    text-align: center;
    min-height: 30px;
    margin: 10px 0;
}

.c_cr .news_x .snstime {
    text-align: right;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.c_cr .news_x .snstime span {
    color: #999;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
}

.c_cr .news_x .snstime span.look {
    background: url(../images/new_80.gif) no-repeat;
    padding-left: 22px;
}

.c_cr .news_x .snstime span.msg {
    background: url(../images/new_82.gif) no-repeat;
    padding-left: 20px;
}

.c_cr .news_x .snstime span.good {
    background: url(../images/new_77.gif) no-repeat;
    padding-left: 20px;
}

.c_cr .news_x .bq {
    width: 600px;
    margin-top: 10px;
    font-size: 12px;
    min-height: 60px;
}

.c_cr .news_x .bq a {
    color: #6abce2;
    display: inline-block;
    height: 26px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 11px;
}

.c_cr .news_x .bq a:hover {
    color: #F00;
}

.c_cr .newcontent img {
    max-width: 705px;
}

.c_cr .newfx {
    margin-top: 20px;
    text-align: right;
}

.c_cr .pinglun {
    border-top: 4px solid #CCC;
    margin-top: 20px;
}

.c_cr .pinglun .wt_pl {
    margin-top: 15px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}

.c_cr .pinglun .wt_pl h2 {
    line-height: 30px;
}

.c_cr .pinglun .wttext {
    width: 100%;
    height: 140px;
    margin-top: 10px;
}

.c_cr .pinglun .wttext .plname {
    float: left;
}

.c_cr .pinglun .wttext .plname span {
    display: block;
    text-align: center;
    font-sizE: 12px;
    margin-top: 5px;
}

.c_cr .pinglun .wttext .plwh {
    float: left;
    margin-left: 10px;
}

.c_cr .pinglun .wttext .plwh .pltextar {
    width: 630px;
    height: 120px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

.c_cr .pinglun .tija {
    text-align: right;
}

.c_cr .pinglun .tija input {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    background: #F00;
    border: 0;
    border-radius: 4px;
    font-family: "微软雅黑";
}

.c_cr .pinglun .anniu {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
}

.c_cr .pinglun .anniu span {
    color: #333;
}

.c_cr .pinglun .anniu img {
    vertical-align: middle;
}

.c_cr .pinglun .pl_list {
    margin-top: 10px;
}

.c_cr .pinglun .pl_list .pl_c {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
}

.c_cr .pinglun .pl_list .pl_c .plc_nr {
    padding-left: 85px;
    width: 628px;
}

.c_cr .pinglun .pl_list .pl_c .plc_nr h1 {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

.c_cr .pinglun .pl_list .pl_c .plc_nr h2 {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

.c_cr .pinglun .pl_list .pl_c .plc_nr p {
    font-size: 14px;
    color: #555;
    line-height: 20px;
    margin-top: 10px;
}

.c_cr .pinglun .pl_list .pl_c .plsns {
    text-align: right;
}

.c_cr .pinglun .pl_list .pl_c .plsns span {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    margin-left: 10px;
}

.c_cr .pinglun .pl_list .pl_c .plsns span.good {
    background: url(../images/ny_17.gif) no-repeat;
    padding-left: 22px;
}

.c_cr .pinglun .pl_list .pl_c .plsns span.bad {
    background: url(../images/ny_19.gif) no-repeat;
    padding-left: 20px;
}

.c_cr .pinglun .pl_list .pl_c .plsns span.msg {
    background: url(../images/ny_21.gif) no-repeat;
    padding-left: 20px;
}

/**/
.c_rt .ab_wz {
    border-top: 4px solid #CCC;
    margin-top: 30px;
}

.c_rt .ab_wz h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.c_rt .ab_wz a {
    padding-bottom: 5px;
    font-size: 12px;
    display: block;
    line-height: 30px;
}

.c_rt .ab_wz a:hover {
    color: red;
}

.adnav {
    width: 274px;
}

.adnav .ad_1 {
    margin-bottom: 20px;
}

/*直播代码*/
.livesx {
    margin-top: 10px;
    width: 859px;
}

.livesx .mx-left {
    float: left;
    width: 590px;
}

.livesx .mx-left .selt_zb {
    margin-bottom: 5px;
    width: 590px;
    height: 30px;
    line-height: 30px;
}

.livesx .mx-left .selt_zb .seltit {
    float: left;
    font-size: 12px;
    font-weight: bolder;
    width: 80px;
    color: #666666;
}

.livesx .mx-left .selt_zb .seltn {
    float: left;
}

.livesx .mx-left .selt_zb .seltn span {
    font-size: 12px;
    color: #666666;
}

.livesx .mx-left .selt_zb .seltn span.more {
    margin-left: 30px;
    color: #888;
    cursor: pointer;
    background: url(../images/sb_1.png) no-repeat 0px 2px;
    padding-left: 25px;
}

.livesx .mx-left .selt_zb .seltn input {
    margin-right: 3px;
    margin-left: 10px;
    vertical-align: middle;
}

.livesx .mx-left .moresx {
    width: 580px;
    background: #dcdcdc;
    padding: 5px;
    display: none;
}

.livesx .mx-left .moresx .select {
    line-height: 30px;
    width: 580px;
}

.livesx .mx-left .moresx .select .sel_1 {
    float: left;
    font-size: 12px;
    color: #777;
    width: 75px;
}

.livesx .mx-left .moresx .select .seln_1 {
    float: left;
}

.livesx .mx-left .moresx .select .seln_1 span {
    font-size: 12px;
    color: #777;
}

.livesx .mx-left .moresx .select .seln_1 input {
    margin-right: 3px;
    margin-left: 10px;
    vertical-align: middle;
}

.livesx .mx-right {
    float: left;
    width: 263px;
    margin-top: 10px;
    margin-left: 6px;
}

.livesx .mx-right .anniu {
    font-size: 12px;
    color: #999;
    float: left;
    margin-right: 3px;
}

.datetable {
    padding-top: 10px;
    width: 859px;
}

.datetable .dt_c {
    margin-bottom: 20px;
    border-top: 4px solid #CCC;
}

.datetable .dt_c {
    width: 100%;
}

.datetable .dt_c h2 {
    font-size: 22px;
    color: #666666;
    margin-top: 15px;
    padding-bottom: 15px;
}

.datetable .dt_c h2 span {
    display: block;
    padding-left: 36px;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    float: right;
    font-weight: normal;
    background: url(../images/day_time.png) no-repeat 2px 0px;
}

.datetable .dt_c .dt_tab {
    width: 100%;
    border-top: 1px solid #eee;
    background: url(../images/day_150.gif) repeat-y 86px 0;
}

.datetable .dt_c .dt_tab .live-new {
    width: 100%;
    border-top: 1px solid #C9C9C9;
    background: url(../images/day_150.gif) repeat-y 86px 0;
}

.datetable .dt_c .dt_tab .d_t_tr {
    border-bottom: 1px solid #C9C9C9;
    padding: 10px 0;
}

.datetable .dt_c .dt_tab .trfrist {
    background: #dcdcdc;
}

.datetable .dt_c .dt_tab .d_t_tr .dt_td {
    float: left;
}

.datetable .dt_c .dt_tab .d_t_tr .td1 {
    width: 83px;
    line-height: 20px;
    font-size: 12px;
    color: #333333;
    font-family: "微软雅黑";
    background: url(../images/day_77_.png) no-repeat 2px center;
}

.datetable .dt_c .dt_tab .d_t_tr .td1 span {
    margin-left: 25px;
    display: block;
}

.datetable .dt_c .dt_tab .d_t_tr .td2 {
    width: 10px;
    height: 20px;
    background: url(../images/day_146.gif) no-repeat center;
}

.datetable .dt_c .dt_tab .d_t_tr .td3 {
    width: 695px;
    padding: 0 5px;
}

.datetable .dt_c .dt_tab .d_t_tr .td3 p > a {
    font-size: 14px;
    line-height: 23px;
    color: #333333;
    font-family: "微软雅黑";
}

.datetable .dt_c .dt_tab .d_t_tr .td4 {
    width: 50px;
    text-align: center;
}

.datetable .dt_c .dt_tab .uxp .td1 {
    background: url(../images/day_77.gif) no-repeat 2px center;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_1 {
    float: left;
    margin-top: 7px;
      font-size: 14px;
    font-family: "微软雅黑";
    width: 275px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_1 span {
    font-size: 12px;
    color: #666666;
    margin-left: 5px;
    font-family: "微软雅黑";
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_1 img {
    vertical-align: middle;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_2 {
    float: left;
    width: 135px;
    margin-top: 10px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_2 img {
    vertical-align: middle;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_2 span {
  
    font-family: "微软雅黑";
    font-size: 12px;
    color: #F00;
    font-weight: bold;
  
  /*  background: url(../images/day_146.gif) no-repeat 2px 4px;*/
    margin-left: 10px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_3 {
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    width: 75px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_3 p {
    font-size: 12px;
    color: #999;
    line-height: 15px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_4 {
    float: left;
    margin-left: 7px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_4 .u4i {
    text-align: center;
    width: 37px;
    float: left;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_4 .u4img {
    height: 30px;
    width: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_4 span {
    display: inline-block;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 20px;
}

.datetable .dt_c .dt_tab .uxp .td3 .uxp_4 span img {
    vertical-align: middle;
}

.datetable .dt_c .dt_tab .live-important-level-3 .td2 {
    color: #F00;
    background: url(../images/day_146_f.gif) no-repeat center;
}

.datetable .dt_c .dt_tab .live-important-level-3 span {
    color: #F00;
}

.datetable .dt_c .dt_tab .live-important-level-3 .dt_td p {
    color: #F00;
}

.datetable .dt_c .dt_tab .live-important-level-3 .td3 p > a {
    color: #F00
}

.datetable .dt_c .dt_tab .underline .td3 p {
    text-decoration: underline;
}

.datetable .dt_c .dt_tab .live-important-level-2 .td1 {
    color: #222;
}

.datetable .dt_c .dt_tab .live-important-level-2 .td3 p > a {
    font-weight: bold;
    color: #222;
}

.datetable .dt_c .dt_tab .live-important-level-2 .td2 {
    background: url(../images/day_146_bd.gif) no-repeat center;
}

.datetable .dt_c .dt_tab .disnone .td3 .hidecont {
    display: none;
    font-size: 12px;
    color: #9E9E9F;
    line-height: 15px;
    margin-top: 5px;
}

.datetable .dt_c .dt_tab .disnone .td3 .clickhide {
    text-align: center;
    cursor: pointer;
}

.datetable .dt_c .dt_tab .d_t_tr.live-new {
    background-color: yellow;
}

.datetable .dt_c .dt_tab .d_t_tr.live-new .td1 {
}

/*重要通知*/
.zytong {
    border-top: 4px solid #CCC;
    margin-bottom: 10px;
}

.zytong h2 {
    font-size: 19px;
    color: #F00;
    font-family: "微软雅黑";
    padding: 5px 0;
    margin-bottom: 1px solid #ddd;
}

.zytong p {
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    font-size: 14px;
}

.zytong p span {
    margin-right: 20px;
}

/*内页底部*/
#nyfooter {
    width: 100%;
    min-width: 1200px;
    height: 100px;
    background: #3e3a39;
}

#nyfooter .fy_center {
    width: 1200px;
    margin: 0 auto;
}

#nyfooter .fy_center .ft_logo {
    float: left;
    width: 172px;
    margin-top: 15px;
}

#nyfooter .fy_center .fl_nav {
    float: right;
    margin-top: 30px;
}

#nyfooter .fy_center .fl_nav a {
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 25px;
    margin-left: 55px;
}

/*日历*/

#context .cday {
    float: left;
    width: 859px;
    border-top: 4px solid #CCC;
}

#context .cday .title_d {
    margin-top: 10px;
    height: 25px;
}

#context .cday .title_d h2 {
    float: left;
    font-size: 24px;
    line-height: 24px;
}

#context .cday .title_d .worldtime {
    float: right;
    text-align: right;
    margin-top: 5px;
}

#context .cday .title_d .worldtime span {
    display: inline-block;
    background: #000;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    width: 70px;
    color: #FFF;
    height: 18px;
    line-height: 18px;
}

#newscontent h1 {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* 清楚元素浮动 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*dingbu*/
.top_c ul li{float: left;width: 170px;}
.top_c ul li .left_arrw{float: left;width: 32px;text-align: center;height: 38px;}
.top_c ul li .left_arrw span{height: 100%;display: inline-block;vertical-align: middle;}
.top_c ul li .left_arrw img{width: 19px;height: 28px;vertical-align: middle;}
.top_c ul li .right_zb{float: left;width: 135px;}
.top_c ul li .right_zb span{width: 160px;display: block;text-align:left;}
.top_c ul li .right_zb .namecity{color: #979B9A;}
.top_c ul li .right_zb .number_pre{color: #FFFFFF;cursor: pointer;}
.top_c ul li .right_zb .number_pre:hover{color: #979B9A;}
.top_c ul li.zhankai{
    position: absolute;
    top: 10px;
    color: #FFF;
    left: 1135px;
    width: 63px;
    border: 1px solid #FFFFFF;

}
.top_c ul li.zhankai a{color: #FFFFFF; text-align: center;}
/*logo出现*/
#top{width:100%;min-width:1200px;height:40px;background:#000000;}
#top .top_c{width:1200px;margin:0 auto;text-align:center;position:relative;}

.sout{position:absolute;right:0;top:8px;width:60px;height:22px;border:1px solid #CCC;color:#FFF;font-size:12px;text-align:center;line-height:22px;}

