body {
    margin: 0;
    padding: 0;
    font-family: "΢���ź�";
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
    outline: medium none;
}

img {
    border: 0;
}

a:hover {
}

.warp {
    width: 1200px;
    background: url(../images/login_bg.png) no-repeat;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.head {
    height: 182px;
}

.logo {
    width: 190px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 72px;
}

.con {
    height: 538px;
    left: 778px;
    margin-right: 100px;
    position: absolute;
    top: 172px;
    width: 310px;
}

.r-r {
    background: rgba(255, 255, 255, 0);
    width: 310px;
    height: 380px;
}

.r-t {
    display: block;
    width: 310px;
    color: #fff;
    font-size: 20px;
}

.p-number {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-top: 22px;
    color: #777474;
    padding-left: 8px;
}

.down {
    width: 310px;
    height: 50px;
    margin-top: 22px;
}

.yanzheng {
    width: 175px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    float: left;
    color: #777474;
    padding-left: 5px;
}

.yz {
    border: 1px solid #84715c;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    text-align: center;
    width: 113px;
    cursor: pointer;
}

.passw {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-top: 22px;
    color: #777474;
    padding-left: 8px;
}

.btn {
    width: 308px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    background: #e72124;
    text-align: center;
    color: #fff;
    margin-top: 22px;
}

.zjdl {
    width: 310px;
    color: #fff;
    font-size: 14px;
    color: #fff;
    margin-top: 18px;
}

.zjdl a {
    text-align: left;
    color: #FFFFFF;
}

/*reg1*/

.rtt {
    width: 310px;
    height: 50px;
}

.rtt ul li {
    float: left;
}

.r-tl {
    display: block;
    text-align: center;
    width: 150px;
    float: left;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #E72124;
    height: 50px;
}

.r-tr {
    display: block;
    text-align: center;
    width: 150px;
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
    height: 50px;
}

.a1l {
    display: block;
    width: 150px;
    float: left;
}

.a1r {
    display: block;
    width: 70px;
    float: right;
}

.kb {
    border: 1px solid #776350;
    width: 100%;
    margin-top: 65px;
}

.dsf {
    width: 310px;
    margin-top: 20px;
}

.dsf-t {
    width: 100px;
    float: left;
    color: #fff;
}

.dsf-tu {
    width: 200px;
    float: left;
}

.dsf-tu span {
    display: inline-block;
    cursor: pointer;
}

/* msg*/

.msg-tl {
    display: block;
    text-align: center;
    width: 150px;
    float: left;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;

    height: 50px;
}

.msg-tr {
    display: block;
    text-align: center;
    width: 150px;
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #E72124;
    height: 50px;
}










