@charset "utf-8";
/* CSS Document */
#main{ width:1200px; margin:0 auto; padding:20px 0 0 0;}

.brokers{ width: 100%; margin-bottom: 80px; overflow: hidden;}
.b-title{width: inherit; position: relative; min-height: 31px; border-bottom: 1px #ccc solid; border-top:5px #ccc solid ; font-size: 24px; padding: 20px 0; font-weight: 800;}
.b-title a.more{ position: absolute; right: 20px; font-size: 14px; top: 25px; font-weight: 100;}
.b-title a.more:link{color: #333333;}
.b-title ul{overflow: hidden; position: absolute; top:0;}
.b-title ul li{float: left; margin-right:10px; border-top:5px #fff solid; color: #888888; padding: 15px 0;}
.b-title ul li.cur{ border-top:5px #3e3a39 solid; color: #231815;cursor: pointer;}
.b-title span{font-size: 12px; color: #717071; font-weight: 100; padding-left: 10px;}
.b-title .nav{width: 102%; margin-top: 10px;}
.b-title .nav li{width: 25%; padding: 0; margin: 0; border: none;}
.b-title .nav a{font-weight: 500; width: 90%; padding: 2px 0; font-size: 21px; display: block; text-align: center; border: 1px #ccc solid;}

.brokers-nav{ background:#3E3A39; width: inherit; padding: 10px;}
.brokers-nav select{ height: 25px; width: 120px; border: none; margin-right: 25px; background: #eeeeee;}
.brokers-nav span{color: #fff; padding-left: 20px;}
.brokers-nav input{ background: #DCDDDD; width: 74px; height: 25px; border: none; font-family: inherit; font-size: 13px;}
.brokers-box{ overflow:hidden; width: 990px; float: left;}
.brokers-box ul.brokers-list{background: #dbdcdc; overflow: hidden; float: left;}
.brokers-box ul.brokers-list li{float: left; padding:7px 25px 7px 20px;}
.brokers-box ul.brokers-list li.more{ padding:7px 0; width: 50px;}
.brokers-box ul.brokers-list li img{float:left}
.brokers-box ul.brokers-list li span{float:left; height: 49px; line-height: 49px;padding:0 10px;}
.brokers-box ul.brokers-list li a{line-height: 49px; display: block; width: 100%; text-align: center; height: 49px;border-left: 1px #eee dashed; }

.brokers-top{overflow: hidden; width: 484px;background: #dbdcdc; margin: 19px 0;}
.brokers-top.left{float: left;}
.brokers-top.right{float: left; margin-left: 20px;}
.brokers-top div{float: left; text-align: center; margin: 60px 35px 60px 65px;}
.brokers-top div span{display: block; line-height: 40px;}
.brokers-top ul{float: left; width: 200px; margin: 36px 0; padding-left: 30px; border-left: 1px #3e3a39 dashed;}
.brokers-top ul li{width: 100%; overflow: hidden; padding: 2px 0;}
.brokers-top ul li p{float: left;}
.brokers-top ul li span{float: left; width: 80px;}
.brokersad{float: right; margin-top: 20px;}

.main-box{width: 1200px; margin: auto; margin-bottom: 30px; overflow: hidden;}
.ad-box{width: 1200px; margin:0px auto 40px auto; overflow: hidden;}
.t-510{width: 510px; float: left;}
.t-515{width: 515px; float: left;}
.t-185{width: 185px; float: left; margin-left: 30px;}

.t-155{width: 160px; float: right;}
.t-185.f20{margin-left: 20px;}
.t-185.f20 .b-title{border-top: 2px #ccc solid; padding: 5px 0; }
.t-185.f20 .b-title span{font-size: 18px; font-weight: 800; color: #040303;}
.t-185.f20  .new-txt-list li{ border-bottom: none; padding: 5px 0;}

.t-900 .t-185 .new-txt-list li{ padding: 5.5px 0;}
.t-450{width: 445px; float: right;}
.t-276{width: 276px; float: right;}
.t-276>div{width: 276px;float:right;margin-bottom: 10px;}
.t-276 a{ display: block;}
.t-695{width: 720px; float: left;}
.t-514{width: 514px; float: left;}
.t-900{width: 900px; float: left;}
.t-900 .t-185{margin-left: 20px;}
.t-695 .b-title{border-bottom: none;}
.b-title.top10{ margin-top: 20px; padding: 10px 0 15px 0;}
.b-title.top10 ul{ left: 140px;}
.b-title.top10 ul li{ padding: 10px 0; min-width: 100px;text-align:center; font-size: 18px;}
.b-title.top10 ul li.cur{ border-top: 5px #E72124 solid;}
.table_out1 .recommendbox{display:none;}
.recommendbox{ padding: 5px 0; border-bottom:1px #ccc solid ; overflow: hidden;}
.recommendbox a{ padding:5px 16px; display: block; float: left;font-size: 12px;}
.t_185{width: 345px;}
.t_185 ul li a{
	font-size: 14px;
}
/*热门词*/
.hotkey{margin-top: 10px; position: relative;}
.hotkey li{width: 50%; position: absolute;}
.hotkey li a{margin: 1px; background: #595757; overflow: hidden; height: inherit; display: block; font-size: 12px; color: #fff; padding: 5px;}
.key01{ height: 92px; margin-bottom: 5px; }
.key02{right: 0; top:0;}
.hotkey li.key02 a{ background: #888888;}
.key03{right: 0; top:29px}
.key04{right: 0; top: 58px;}
.hotkey li.key04 a{ background: #888888;}
.key05{left: 0; top: 104px;}
.hotkey li.key05 a{ background: #888888;}
.key06{right: 0; top: 104px;}
.key07{left: 0; top: 150px;}
.key08{left: 0; top: 179px;}
.hotkey li.key08 a{ background: #888888;}
.key09{right: 0; top: 150px; height: 46px;}
.hotkey li.key09 a{ background: #888888;}
.key10{left: 0; top: 208px; height: 46px;}
.key11{right: 0; top: 208px;}
.key12{right: 0; top: 237px;}
.hotkey li.key12 a{ background: #888888;}


.key06 a{ line-height: 34px;}
.key01 a span{font-size: 14px; padding-top: 25px; display: block;}

/*分析师*/
.analysis li{ overflow: hidden; padding: 15px 0;  border-bottom: 1px #ccc solid;}
.t-450 .analysis li{padding: 14px 0 12px 0; line-height: 18px;}
.t-450 .analysis li span{float: left; background: #DBDCDC; padding: 0 5px; margin-top: 2px; font-size: 10px; margin-right: 10px;}
.t-450 .analysis li .bbstitle p{font-size: 13px; color: #231815; font-weight: 500;}
.t-450 .analysis li .bbstitle dl{ padding-top: 3px;}
.t-450 .analysis li .bbstitle p b{ color: #E72124;}
.t-514 .analysis li{padding: 7px 0; }
.t-514 .analysis li.first{padding-top: 15px;}
.t-514 .analysis li.first div{width: 440px; padding-left: 10px;}
.t-514 .analysis li div{width: 514px; padding: 0;}
.t-514 .analysis li div b{font-size: 16px; font-weight: 500;}
.t-514 .analysis li div dl{padding-top: 5px;}

.greybg{background: #EEEEEF; padding: 7px 0 3px 0;}
.m-right{ float: right; width: 95px; position: relative;}
.m-right small{position: absolute; right: 0; top:0; background: #717071; width: 16px; height: 16px; text-align: center; color: #fff; font-size: 14px; line-height: 16px;}
.m-right small.one{background: #E72124;}
.m-right p{font-size: 12px; line-height: 22px;}
.m-right b{display: block; text-align: center; font-size: 20px; height: 40px; line-height: 40px;}
.m-right div{font-size: 12px;}
.m-right div a{float: right; padding: 2px 12px; background: #3E3A39; color: #fff; }

.analysis img{ float: left; margin-top: 3px;}
.analysis p b{font-weight: 600; font-size: 14px; color: #231815;}
.analysis p{float: left; width: 430px; padding-left: 10px; font-size: 12px; color: #595757;}
.analysis p span{ color: #717071;}
.analysis p span em{ width: 11px; height: 11px; background: url(../../images/index/icon.png) no-repeat; background-position: -180px -50px; display:inline-block}
.analysis div{ width: 370px; float: left;padding-left: 10px;}
.analysis div p{padding: 0; width: auto; color: #595757;}
.analysis div dl{float: right;}
.analysis div dl dd{float: left; padding-left:10px; color: #717071; font-size: 12px;}
.analysis div dl dd em{display: inline-block; margin-right: 3px; float: left; margin-top: 3px; width: 11px; height: 11px;background: url(../../images/index/icon.png) no-repeat;}
.analysis div dl dd em.user-icon{ background-position: -180px -50px;}
.analysis div dl dd em.name-icon{ background-position: -180px -65px;}
.analysis div dl dd em.time-icon{ background-position: -180px -80px;}

.table_out2 .new-txt-list{display:none;}
.table_out3 .new-txt-list{display:none;}
.new-txt-list li{ overflow: hidden; padding: 10px 0;  border-bottom: 1px #ccc solid;}
.new-txt-list li span{float: right; font-size: 10px; color: #9e9e9f;line-height: 23px;}
.t-185 .new-txt-list li{padding: 8.8px 0;}


/*策略*/
.table-3 dl{width: 33.3%; float: left;}
.strategy{padding: 5px 0;}
.strategy li{overflow: hidden; padding: 5px 0; }
.strategy-box{ padding: 10px 8px; background: #eeeeef;}
.strategy-box p{font-size: 14px; font-weight: 700; width: 100%; text-align: center;}
.strategy-box dl dd,.strategy-box dl dt{ font-size: 12px; text-align: center;}
.strategy-box dl dt{ padding-top: 10px;}
.strategy-box dl dd{font-size: 14px; font-weight: 800; padding-bottom: 10px; line-height: 24px;}
.to-rob{font-size: 12px;}

.d-list{ background: #ccc; width: 100%;}
.d-list th{ height: 55px;}
.d-list td{height: 41px;}
.d-list td,.d-list th{background: #fff; text-align: center;}
.j-list{width: 100%;}
.j-list td,.j-list th{ text-align: center;}
.j-list th{height: 55px;}
.j-list td{padding: 13px 0;}
.j-list td span{padding: 0 5px;}
.date{color: #717071; font-size: 13px;}

.video li{width: 50%;float: left;}
.video li div{ padding:8px 8px 0 0;}
.video li div img{width: 100%;}

.consultant{ width: 514px; height: 205px; background: url(../../images/index/consultant.jpg);}
.calendar-table{ width: 100%; border: 1px #ccc solid; border-bottom: none;}
.calendar-table td,.calendar-table th{ height: 42px; text-align: center; border-bottom: 1px #ccc solid;}
.calendar-table td{height: 52px;}
 
 
 .newnow .b-title{font-size: 20px; border-bottom: none;}
 .newnow .b-title img{float: left;}
 .newnow .b-title p{float: left; padding-left: 10px; line-height: 35px;}
.newnow-list li{  position: relative; }
.newnow-list li span,.newnow-list li p{ float: left;}
.newnow-list li span{width: 70px; font-size: 10px; text-align: center; padding: 6px 0 5px 0;}
.newnow-list li p{border-top: 1px #C8C9CA solid; font-size: 12px; padding: 7px 0; width: 350px; margin-left: 10px;}
.newnow-list li em{ width:9px; height: 9px; position: absolute; left: -3px; top:10px; display: block; background:url(../../images/day_146.gif) 0 0 no-repeat;}
.newnow-list li em.one{background:url(../../images/day_146_f.gif) 0 0 no-repeat;}
	
.newnow-list{background:url(../../images/day_150.gif) 0 0 repeat-y; margin-left: 10px;}

/*友情链接*/
#partners {background:#3E3A39; overflow: hidden;}
#partners .title{ color: #EEEEEF; padding:30px 0 15px 0; font-size: 20px; font-weight: 800; border-bottom: 1px #eeeeee solid; margin-bottom: 15px;}
#partners dl{color:#EEEEEF; overflow: hidden; margin-bottom:20px;}
#partners dl dt{ float: left; width:80px;  border-right: 1px #EEEEEE solid; font-size: 20px; line-height: 40px; margin:5px 9px 5px 0;}
#partners dl dd{float: left; width: 1110px; line-height: 24px; letter-spacing: 2px;font-size: 14px;}
#partners dl dd a:link,#partners dl dd a:active,#partners dl dd a:visited{color:#EEEEEF;}


#page-main{ width:1200px; margin:auto; padding:40px 0 120px; overflow:hidden}
#page-main .left{ float:left; width:138px;}
#page-main .left .qa{width:138px; height:130px;color:#efefef; display:block}
#page-main .left .qa b{display:block; height:65px; font-size:24px; line-height:65px; color:#efefef; text-align:center; background:#E72124}
#page-main .left .qa span{ display:block; font-weight:300; height:65px; text-align:center; font-size:18px; line-height:22px; background:#3E3A39}
#page-main .left .qa span font{ display:block; padding-top:11px; color:#E72124}
#page-main .left .ad-03{ margin-top:10px; display:block; padding:0;}

#page-main .right{width:1025px; float:right}
#page-main .right .title{text-align:center; font-size:30px; font-weight:bold; border-top:#CCCCCC 6px solid; height:64px; line-height:64px}
#page-main .right .explain{ border-top:1px #ccc solid; border-bottom:1px #ccc solid; padding:20px 0; font-size:18px}

#page-main .right .chart{ margin-top:52px; overflow: hidden;}

.trend{ width:387px; border-top:6px #CCCCCC solid; float:left}

.data{width:587px;border-top:6px #CCCCCC solid; float:right}
#page-main .right .chart .chart-title{ overflow: hidden;}
#page-main .right .chart .chart-title h1{ float:left; font-size:24px; padding:14px 0; margin:0;}
#page-main .right .chart .chart-title p{float:right; width:280px; font-size:12px; color:#999999; padding-top:14px}
#page-main .right .chart.up .chart-title p{width: 200px;}

.data-img{font-size:0; padding-top: 27px;}
.select-box{ padding:10px; background:#CCCCCC; overflow:hidden}
.select-box select{margin-right:15px; float:left; height:26px;}
.select-box select.indicators{ width:60px}
.select-box select.countries{ width:120px}
.select-box select.other{ width:225px}
.select-box input{ float:right; width:60px;height:20px; text-align: center;}

.tz-list{ background: #ccc;}
.tz-list td,.tz-list th{background: #fff; height: 55px; width: 33.3%; text-align: center;}
.tz-list td span{ padding-left: 30px; position: relative;}
.tz-list td span em{ width: 25px; height: 25px; position: absolute;left:0; top:-2px; background:url(../../images/index/icon.png) no-repeat}
.tz-list td span.us em{ background-position: 0 -135px; }
.tz-list td span.gold em{background-position: -25px -135px;}
.tz-list td span.baiyin em{background-position: -50px -135px;}
.tz-list td span.silver em{background-position: -75px -135px;}
.tz-list td span.stock em{background-position: -100px -135px;}

.tz-list td span.down,.tz-list td span.up{ padding: 0 20px 0 0; }
.tz-list td span.down{ color: #339966;background:url(../../images/down.png) no-repeat right;}
.tz-list td span.up{ color:#E72124;background:url(../../images/up.png) no-repeat right;}

.t-list{ border-top:1px #ccc solid ; border-bottom: 1px #ccc solid; margin-top: 10px;}
.t-list td{ width: 25%; height: 55px; text-align: center; font-size: 18px;}
.t-list tr.top-20 td{ padding-top: 16px;}
.data-info{border-top:1px #ccc solid ; border-bottom: 1px #ccc solid; overflow: hidden; padding: 10px 0;}
.data-info li{width: 50%; float:left; line-height: 26px;}
.data-view p{ display: block; padding-bottom: 8px; font-size: 14px;}
.data-view{ padding: 10px 0; border-bottom: 1px #ccc solid;}
.star{ width: auto; margin: auto; display: inline-block;}
.star li{ width: 22px; height: 21px; background: url(../../images/index/icon.png) no-repeat -97px -47px; float: left;}



.new-list{ border-top:6px #ccc solid; margin-top: 50px;}
.new-list .tit{overflow: hidden; padding-bottom: 5px;}
.new-list .tit h1{ font-size: 24px; float: left;}
.new-list .tit p{ padding-top: 25px; padding-left: 15px; color: #999; font-size: 12px; float:left}
.new-list .tit a{float:right; line-height: 60px; color: #717071; font-size: 14px;}
.new-list .tit a:link{color: #717071;}
.new-list ul{border-bottom: 1px #ccc solid;}
.new-list  li{ height: 42px; line-height: 42px; overflow: hidden; border-top: 1px #ccc solid;}
.new-list  li a span{ float:right; color: #9E9E9F; font-size: 10px; }


.history-list{ background: #ccc;}
.history-list th,.history-list td{background: #fff;   text-align: center;}
.history-list th{ height: 50px;}
.history-list td{height: 40px;}
.history-list span.up{ background:url(../../images/up.png) no-repeat; padding-left: 20px;}
.history-list span.down{ background:url(../../images/down.png) no-repeat; padding-left: 20px; margin-left: 5px;}
.history-list span.ping{ background:url(../../images/ping.png) no-repeat 0 center; padding-left: 20px;margin-left: 5px;}
.new-list ul.date-s{ width: 290px; float: left; border: none; margin-left: 40px;}
.new-list ul.date-s li{width: 33.33%; text-align: center; cursor: pointer; float: left; border: none; font-size:18px; font-weight: bold; color: #717071; border-top:4px #fff solid; line-height: 55px;}
.new-list ul.date-s li.cur{ color: #231815; border-top:4px #E72124 solid;}



.page{text-align: center; height: 40px; border-bottom: 1px #ccc solid;}
.page a{margin: 0 5px; line-height: 40px;}
.page a span{ border: 1px #231815 solid; padding: 0 5px;}
.page a.un span{border: 1px #ccc solid; color: #CCCCCC;}

/* box */
#box{width:515px;height:265px;position:relative;overflow:hidden;margin:10px auto 0;}
#pic_list{position:relative;z-index:1;}
#pic_list li{position:absolute;left:0;top:0;opacity:0;fliter:alpha(opacity=0);z-index:1;}
.mark{height:90px; z-index:2;width:515px;background:#000;position:absolute;left:0;bottom:0;opacity:0.3;filter:alpha(opacity=30);}
#text_list{position:absolute;bottom:55px;left:15px;position:absolute;z-index:5;height:30px;overflow:hidden;}
#text_list h2{display:none; padding: 0; margin: 0;}
#text_list .show{display:block;}
#text_list a{color:#FFFFFF;font-family:"Microsoft YaHei";font-size:18px;font-weight:normal;text-decoration:none;}
#ico_list{position:absolute;bottom:10px;right:12px;width:300px;overflow:hidden;height:46px;z-index:3;}
#ico_list ul{width:1050px;position:absolute;left:0;top:0;}
#ico_list li{width:75px;float:left;}
#ico_list li a{width:68px;padding-top:6px;display:block;}
#ico_list li a img{border:2px solid #DFE8E4;height:36px;width:64px;background:#040303;opacity:0.7;filter:alpha(opacity=70);}
#ico_list .active{background:url(../../images/a_hover.gif) no-repeat center 0;}
#ico_list .active img{opacity:1;filter:alpha(opacity=100);border:3px solid #fff;height:34px;width:62px;}
.btn{background:url(../../images/btn.gif) no-repeat;height:38px;width:38px;position:absolute;bottom:11px;opacity:0.5;filter:alpha(opacity=50);cursor:default;z-index:3;}
.showBtn{opacity:1;filter:alpha(opacity=100);cursor:pointer;z-index:4;}
#btn_prev{left:20px;}
#btn_next{left:56px;background-position:right 0;}

