<style type="text/css">
<!--
.font1 {
	font-size: 26px;
}
.container .font1 .font1 {
	color: #333;
}
-->
</style><div class="navbar navbar-right nav-bar-menu">
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/blogCreate">
        <span class="glyphicon glyphicon-plus"></span>
		 发布新帖
    </a>
    <a class="nav-badge btn" ng-href="#">
        <span class="glyphicon glyphicon-home"></span>
 		首页
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-href="#/dashboard">
        <span class="glyphicon glyphicon-dashboard"></span>
		个人中心
    </a>
    <a ng-if="hasLogin()" class="nav-badge btn" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
		登出
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/login">
        <span class="glyphicon glyphicon-log-in"></span>
 		登录
    </a>
    <a ng-if="!hasLogin()" class="nav-badge btn" ng-href="#/register">
        <span class="glyphicon glyphicon-registration-mark"></span>
		注册
    </a>
</div>

<div class="container">
    <div>
        <article class="jumbotron">
            <img ng-src="{{blog.user | avatar}}" width="100px" height="100px"/>
            <div style="margin-top: -80px; margin-left:120px;">
            	<span style="font-size:2em; padding:0 10px;">{{blog.title}}</span>
            	</br>
            	<middle style="margin-left:10px; padding:5px 5px;"class="glyphicon glyphicon-eye-open">{{blog.viewCount}}</middle>
            	<middle style="padding:5px 5px;" class="glyphicon glyphicon-envelope">{{blog.commentCount}}</middle>
            	<middle style="padding:5px 5px;" class="glyphicon glyphicon-user">{{blog.user.name}}</middle>
                <middle style="padding:5px 5px;" class="glyphicon glyphicon-time">{{blog.createTime | timeago}}</middle>
            </div>
            </br>
            <hr/>
            <div style="font-size:1em;" btf-markdown="blog.content"></div>
            <hr/>
        </article>
    </div>


    <div ng-show="hasLogin()" ng-init="zy_comment = null">
        <textarea editor class="form-control" rows="10" required ng-model="zy_comment"></textarea>
        <button class="form-control"  ng-click="postComment(zy_comment)" ng-disabled="!zy_comment || zy_comment.length === 0">评论</button>
    </div>
  <p></p>
  <span class="font1"><span class="font1" style="font-size:0.8em;">{{blog.commentCount}}评论 <hr style="margin:0px;height:3px;border:none;border-top:2px dashed #ffffff;" /></span></span>
  <p></p>
  <div>
    <article class="jumbotron" ng-repeat="comment in comments">
            <span style="float:left;width:15%">
                <img ng-src="{{comment.user | avatar}}" width="100px" height="100px"/>
            </span>
            <span style="font-size:1.5em; padding: 0 5px; float:rightt;width:85%; margin-top:8px; margin-left:-10px;" class="small glyphicon glyphicon-user">{{comment.user.name}} {{comment.createTime |timeago}}</span>
            <span style="font-size:0.8em; padding: 0 5px;float:rightt;width:85%" btf-markdown="comment.content"></span>
        </article>
        <pagination class="pagination-sm"
                    ng-show="numPages > 1"
                    ng-model="currentPage"
                    max-size="10"
                    items-per-page="pageSize"
                    total-items="totalElements"
                    boundary-links="true"
                    num-pages="numPages"
                    ng-change="loadPage()">
        </pagination>
    </div>
</div>
